@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-grey-light;
}

.container {
  @apply max-w-[1280px] mx-auto;
}

h1 {
  @apply text-heading-1;
}

h2 {
  @apply text-heading-2;
}

h3 {
  @apply text-heading-3;
}

h4 {
  @apply text-heading-4;
}

h5 {
  @apply text-heading-5;
}

h6 {
  @apply text-heading-6;
}

.custom-shadow {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.song-container::-webkit-scrollbar {
  width: 0;
}

.custom-swal-width {
  /* width: 600px !important;
  max-width: 80% !important; */
  @apply w-1/2 max-w-[80%] shadow-2xl;
}

nav .active {
  @apply text-warning-light relative after:absolute after:w-full after:left-0 after:h-px after:-bottom-2 after:bg-warning transition;
}

/* For most modern browsers */
input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  -webkit-appearance: none; /* For Chrome, Safari, and Edge */
  appearance: none; /* Standard property */
}

/* For removing spin buttons in Edge and Internet Explorer */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Using ID to scope the styles */
#visualizeDataModal {
  font-family: "Arial", sans-serif;
  color: #333;
  border-radius: 10px;
}

#visualizeDataModal .song-detail {
  background-color: #f4f7fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

#visualizeDataModal .song-detail .section-title {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

#visualizeDataModal .song-detail p {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.5;
}

#visualizeDataModal .link {
  color: #007bff;
  text-decoration: none;
}

#visualizeDataModal .link:hover {
  text-decoration: underline;
}

#visualizeDataModal .order-details {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#visualizeDataModal .btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#visualizeDataModal .btn:hover {
  background-color: #0056b3;
}

#album-details-modal::-webkit-scrollbar {
  @apply w-0;
}
