@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-grey-light;
}

.container {
  @apply max-w-[1280px] mx-auto;
}

h1 {
  @apply text-heading-1;
}

h2 {
  @apply text-heading-2;
}

h3 {
  @apply text-heading-3;
}

h4 {
  @apply text-heading-4;
}

h5 {
  @apply text-heading-5;
}

h6 {
  @apply text-heading-6;
}

.custom-shadow {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
